<div class="container-fluid p-0">
  <nav style="z-index: 999" class="navbar shadow sticky-top  navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">RTI katedra |</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Pocetna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="employee/all">Zaposleni</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Obavestenja
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" *ngFor="let notif of notificationTypes" routerLink="notifications/get/all" (click)="view_notifications_for(notif.id)" href="#">{{notif.name}}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Osnovne studije
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="courses/info" (click)="view_course_info(rtiCoursesId)">Odsek za Racunarsku tehniku i informatiku</a></li>
              <li><a class="dropdown-item" routerLink="courses/info" (click)="view_course_info(siCoursesId)">Odsek za Softversko inzenjerstvo</a></li>
              <li><a class="dropdown-item" routerLink="courses/info" (click)="view_course_info(otherCoursesId)">Ostali odseci</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="courses/master/info" (click)="view_course_info(masterCourseId)">Master studije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects/proposals/all" aria-current="page">Projekti</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Nauka
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="statics/employee/projects" >Projekti zaposlenih</a></li>
              <li><a class="dropdown-item" routerLink="statics/employee/science" >Istrazivanja</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="contact">Kontakt</a>
          </li>


          <div *ngIf="sessionNull; else sessionNotNull" style="display: flex;">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register/student">Register</a>
            </li>
          </div>
          <ng-template #sessionNotNull>
            <li class="nav-item">
              <a *ngIf="sessionIsStudent" class="nav-link " aria-current="page" routerLink="profile">Profil</a>


            </li>

          </ng-template>
        </ul>

      </div>
    </div>
  </nav>

  <nav style="z-index: 998" *ngIf="sessionIsAdmin" class="navbar sticky-top shadow navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="admin">Admin dashboard | </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
              aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/accounts/all">Azuriranje naloga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="set_register(0)" routerLink="/admin/student/register">Registracija
              studenata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="set_register(1)" routerLink="/admin/faculty/register">Registracija
              zaposlenih</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/courses">Predmeti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/courses/engagement_plan">Plan
              angazovanja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/notifications">Obavestenja</a>
          </li>
          <li class="nav-item">
            <a *ngIf="sessionIsAdmin" class="nav-link " aria-current="page" routerLink="admin">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav style="z-index: 998" *ngIf="sessionIsProfessor" class="navbar shadow sticky-top  navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="employee">Professor dashboard | </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
              aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employee/my_courses">Moji predmeti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employee/course/notifications">Predmetna obavestenja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employee/student/registration">Spiskovi</a>
          </li>

          <li class="nav-item">
            <a *ngIf="sessionIsProfessor" class=" nav-link " aria-current="page" routerLink="employee">Profil</a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <nav style="z-index: 998" *ngIf="sessionIsStudent" class="navbar shadow sticky-top  navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="student">Student dashboard | </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
              aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/student/courses/picker">Biranje predmeta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/student/courses">Moji predmeti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/student/course/registrations">Prijava na spiskove</a>
          </li>

          <li class="nav-item">
            <a *ngIf="sessionIsProfessor" class=" nav-link " aria-current="page" routerLink="employee">Profil</a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <router-outlet (change)="refreshSession()">

  </router-outlet>
</div>
