
<div class="row justify-content-center p-0">
  <div class="card text-white bg-dark m-3" >
    <div class="card-header">Kontakt informacije</div>
    <div class="card-body">
      <table>
        <tr>
          <td>
            <b>Zaduzena osoba</b>
          </td>
          <td>
            dr Nenad Korolija
          </td>
        </tr> <tr>
          <td>
            <b>Kabinet</b>
          </td>
          <td>
            Paviljon, 26
          </td>
        </tr>
        <tr>
          <td>
            <b>Telefon</b>
          </td>
          <td>
            +381 11 3218389
          </td>
        </tr> <tr>
          <td>
            <b>Email</b>
          </td>
          <td>
            <a class="alert-link" href="mailto:nenadko@etf.rs">nenadko@etf.rs</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
