
<ngb-carousel class="shadow" *ngIf="images" [showNavigationArrows]="showNavigationArrows"
              [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img width="100%" [src]="image">
    </div>

  </ng-template>
</ngb-carousel>
<div class="row w-100">
  <div class="col-12 text-center justify-content-center ">
    <h1>
      RTI Katedra Elektrotehnickog fakulteta
    </h1>
    <h5>

    </h5>
  </div>
</div>
