

<div *ngIf="notifications != null || notifications.length > 0">
  <div class="row justify-content-center p-0" *ngFor="let notification of notifications">
    <div class="card col-md-6 text-white p-0 bg-dark m-3">
      <div class="card-header "><h1>{{notification.title}}</h1></div>
      <div class="card-body">

        <b class="text-danger">Datum</b>
        {{notification.date | date: 'yyyy-MM-dd'}}

        <br>
        <br>
        <h3 class="text-danger">Opis</h3>
        <br>
        <div [innerHTML]="notification.description"></div>

      </div>
    </div>

  </div>
</div>
<div *ngIf="notifications == null || notifications.length == 0">
  <div class="row justify-content-center p-0">
    <div class="card col-md-6 text-white bg-dark m-3">
      <div class="card-header "><h1>Oops...</h1></div>
      <div class="card-body">

        <h1 class="text-danger">Nema obavestenja iz ove kategorije!</h1>


      </div>
    </div>

  </div>
</div>
