<div class="row justify-content-center">
  <h1 class="font-weight-bold">Zaposleni na fakultetu</h1>
</div>

<div class="row justify-content-center">
  <table class="table col-md-5 table-dark">
    <thead>
    <tr>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Zvanje</th>
      <th scope="col">Tip</th>
      <th scope="col">Zaduzen na predmetima</th>
      <th scope="col">Pogledaj informacije</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.surname}}</td>
      <td>{{employee.title.name}}</td>
      <td *ngIf="employee.title.educational == 1">Nastavno osoblje</td>
      <td *ngIf="employee.title.educational == 0">Nenastavno osoblje</td>

      <td>
        <ol *ngIf="employee.course_data.length >= 1; else elseNo">
          <li *ngFor="let course of employee.course_data">{{course.name}}</li>
        </ol>
        <ng-template #elseNo>
          Nije zaduzen na predmetima
        </ng-template>
      </td>
      <td>
        <button class="btn btn-outline-light" (click)="showEmployeeModal(employee)" data-toggle="modal" data-target="#exampleModalLong">Pogledaj informacije</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="employeeModal != null" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{employeeModal.name}} {{employeeModal.surname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body justify-content-center">
          <table class="col-12">
            <tr>
              <td colspan="2" class="justify-content-center">
                <img [src]="'http://localhost:4000/download/' +employeeModal.employee_data.profilePicture " style="max-width: 300px; max-height: 300px" class="img-fluid">
              </td>
            </tr>
            <tr>
              <td>
                <b>Zvanje: </b>
              </td>
              <td>
                {{employeeModal.title.name}}
              </td>
            </tr><tr>
              <td>
                <b>Kancelarija: </b>
              </td>
              <td>
                {{employeeModal.employee_data.office}}
              </td>
            </tr><tr>
              <td>
                <b>Adresa: </b>
              </td>
              <td>
                {{employeeModal.employee_data.address}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Kontakt telefon: </b>
              </td>
              <td >
                {{employeeModal.employee_data.phonenumber}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Web sajt: </b>
              </td>
              <td>
                <a [href]="employeeModal.employee_data.website">{{employeeModal.employee_data.website}}</a>
              </td>

            </tr>
            <tr>
              <td>
                <b>Biografija: </b>
              </td>
              <td *ngIf="employeeModal.employee_data.biography != null">
                {{employeeModal.employee_data.biography}}
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        </div>
      </div>
    </div>
  </div>
</div>
