<div class="row justify-content-center p-0">
  <div class="card col-md-6 text-white bg-dark m-3" >
    <div class="card-header font-weight-bold"></div>
    <div class="card-body justify-content-center d-flex">
      <h1>Zdravo {{myUser.name}}!</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center p-0">
  <div class="card col-md-6 text-white bg-dark m-3" >
    <div class="card-header font-weight-bold"><h1>Uputstvo za koriscenje</h1></div>
    <div class="card-body">
      <p>Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Porttitor lacus luctus accumsan tortor posuere ac. Eu augue ut lectus arcu. Enim ut sem viverra aliquet eget sit amet tellus cras. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam. Ut enim blandit volutpat maecenas. Facilisis sed odio morbi quis commodo odio aenean. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Suspendisse faucibus interdum posuere lorem ipsum dolor. Turpis cursus in hac habitasse platea.</p>
      <p>Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Eget nunc scelerisque viverra mauris in aliquam. Nunc lobortis mattis aliquam faucibus. Felis donec et odio pellentesque diam. In hac habitasse platea dictumst. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Enim ut tellus elementum sagittis vitae et leo duis ut.</p>
      <p>Risus in hendrerit gravida rutrum quisque. Laoreet id donec ultrices tincidunt. Condimentum vitae sapien pellentesque habitant morbi tristique senectus. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Amet consectetur adipiscing elit pellentesque habitant. Non tellus orci ac auctor augue mauris. Nullam vehicula ipsum a arcu cursus vitae. Elementum sagittis vitae et leo duis ut. Velit laoreet id donec ultrices tincidunt arcu non sodales.</p>
      <br>
      <h3>May the force be with you, always!</h3>
      <img src="assets/images/grogu.gif">
    </div>
  </div>
</div>
