
<div class="row justify-content-center">
  <div class="card mt-3 shadow text-white bg-dark mb-3 col-md-5">
    <div class="card-header">Odabir naloga</div>
    <div class="card-body justify-content-center">
      <table style="margin: auto">
        <tr>
          <td>Studenti:</td>
          <td>
            <input
              id="students_focus"
              type="text"
              class="form-control ml-3"
              [(ngModel)]="model1"
              [ngbTypeahead]="search_students"
              (focus)="focus_students$.next($any($event).target.value); lastFocused = 0;"
              (click)="click_students$.next($any($event).target.value)"
              #instance_student="ngbTypeahead"
            />
          </td>
        </tr>
        <tr>
          <td>Zaposleni:</td>
          <td>
            <input
              id="faculty_focus"
              type="text"
              class="form-control ml-3"
              [(ngModel)]="model2"
              [ngbTypeahead]="search_faculty"
              (focus)="focus_faculty$.next($any($event).target.value); lastFocused = 1"
              (click)="click_faculty$.next($any($event).target.value)"
              #instance_faculty="ngbTypeahead"
            />
          </td>
        </tr>

        <tr>
          <td>
            <button class="btn btn-outline-success" (click)="find_student()">Nadji studenta</button>
          </td>
        </tr>

        <tr>
          <td>
            <button class="btn btn-outline-success" (click)="find_faculty()">Nadji zaposlenog</button>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="isSelected > -1">
  <div class="card shadow mt-3 text-white bg-dark mb-3 col-md-5">
    <div class="card-header">Rezultat pretrage</div>
    <div class="card-body justify-content-center" *ngIf="isSelected == 0; else other">

    </div>
    <ng-template #other>
      <div class="row g-3">
        <div class="col-md-12 justify-content-center">
          <img class="img-fluid "

               [src]="'assets/images/' + selected_employee.profilePicture">
          <!--               style="max-height: 300px; max-width: 300px; margin: auto"-->
        </div>
        <div class="input-group mt-3 col-md-5">
          <div class="input-group-prepend">
            <span class="input-group-text">Promeni sliku</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Odaberi</label>
          </div>
        </div>
      </div>


      <div class="row g-3 mt-5">
        <div class="col-12">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Ime i prezime</span>
            <input type="text" aria-label="Ime" class="form-control" [(ngModel)]="selected_employee.name">
            <input type="text" aria-label="Prezime" class="form-control" [(ngModel)]="selected_employee.surname">
          </div>
        </div>
        <br>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" [(ngModel)]="selected_employee.email" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Adresa</span>
            <input type="text" class="form-control" [(ngModel)]="selected_employee.address" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kontakt</span>
            <input placeholder="Kontakt Telefon" type="text" class="form-control"
                   name="phoneNumber" [(ngModel)]="selected_employee.phonenumber" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Webiste</span>
            <input type="text" class="form-control" name="website" [(ngModel)]="selected_employee.website"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <span class="input-group-text">Biografija</span>
            <textarea class="form-control" name="bio" aria-label="With textarea"
                      [(ngModel)]="selected_employee.biography"></textarea>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <label class="input-group-text col-2" for="inputGroupSelect01">Options</label>
            <select name="dropdownList" [(ngModel)]="dropdownList" class="form-select col-10" id="inputGroupSelect01">
              <option>Odaberi...</option>
              <option *ngFor="let title of titles"
                      [attr.selected]="title.name === selected_employee.title ? 'selected' : null"
                      [value]="title.id">{{title.name}}</option>
            </select>
          </div>

        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kabinet</span>
            <input placeholder="Kabinet" type="text" class="form-control" [(ngModel)]="selected_employee.office"
                   aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [attr.checked]="selected_employee.status == 0 ? null : 'checked'" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Aktivan
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 justify-content-center">
          <button type="submit" class="btn btn-primary" (click)="update_employee()">Azuriraj</button>
        </div>
        <div class="col-md-4 mt-3 justify-content-center">
          <button type="submit" class="btn btn-danger" (click)="delete_employee()">Izbrisi korisnika</button>
        </div>
        <div class="col-md-4 mt-3 mb-5 ">
          <button type="submit" class="btn btn-warning" (click)="cancel()">Odustani</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
