
<div class="row justify-content-center">
  <div class="card mt-3 shadow p-0 text-white bg-dark mb-3 col-md-5">
    <div class="card-header">Odabir naloga</div>
    <div class="card-body justify-content-center">
      <div class="mb-3 row">
        <label  class="col-sm-2 offset-2 col-form-label">Studenti</label>
        <div class="col-sm-5">
          <input
            id="students_focus"
            type="text"
            class="form-control ml-3"
            [(ngModel)]="model1"
            [ngbTypeahead]="search_students"
            (focus)="focus_students$.next($any($event).target.value); lastFocused = 0;"
            (click)="click_students$.next($any($event).target.value)"
            #instance_student="ngbTypeahead"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label  class="col-sm-2 offset-2 col-form-label">Zaposleni</label>
        <div class="col-sm-5">
          <input
            id="faculty_focus"
            type="text"
            class="form-control ml-3"
            [(ngModel)]="model2"
            [ngbTypeahead]="search_faculty"
            (focus)="focus_faculty$.next($any($event).target.value); lastFocused = 1"
            (click)="click_faculty$.next($any($event).target.value)"
            #instance_faculty="ngbTypeahead"
          />
        </div>
      </div>
      <div class="mb-3 row d-flex justify-content-around">
        <button class="btn btn-outline-success" (click)="find_student()">Nadji studenta</button>
        <button class="btn btn-outline-success mt-2" (click)="find_faculty()">Nadji zaposlenog</button>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center" *ngIf="isSelected > -1">
  <div class="card shadow mt-3 text-white bg-dark mb-3 col-md-5">
    <div class="card-header">Rezultat pretrage</div>
    <div class="card-body justify-content-center" *ngIf="isSelected == 0; else other">

      <i class="mb-3">
        Napomena: Username se automatski azurira...
      </i>
      <hr>
      <div class="col-12 mb-3">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Ime i prezime</span>
          <input type="text" aria-label="Ime" class="form-control" [(ngModel)]="selectedStudent.name">
          <input type="text" aria-label="Prezime" class="form-control" [(ngModel)]="selectedStudent.surname">
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Index</span>
          <input type="text" aria-label="index" class="form-control" [(ngModel)]="selectedStudent.student_data[0].index">
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Semestar</span>
          <input type="number" aria-label="index" class="form-control" [(ngModel)]="selectedStudent.student_data[0].semester">
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Tip Studija</span>
          <select (change)="change_level_type($event)" class="form-control">
            <option [selected]="selectedStudent.student_data[0].academic_level === 'd'" value="d">
              Osnovne Akademske
            </option>
            <option [selected]="selectedStudent.student_data[0].academic_level === 'm'" value="m">
              Master studije
            </option>
            <option [selected]="selectedStudent.student_data[0].academic_level === 'p'" value="p">
              Doktorske studije
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 mb-3" *ngIf="selectedStudent.student_data[0].academic_level === 'd'">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Odsek Studija</span>
          <select (change)="chenge_dept($event)" class="form-control">
            <option [selected]="selectedStudent.student_data[0].department === -1 || selectedStudent.student_data[0].department === 3" value="-1">
              Odaberi...
            </option>
            <option [selected]="selectedStudent.student_data[0].department === 1" value="1">
              Softversko inzenjerstvo
            </option>
            <option [selected]="selectedStudent.student_data[0].academic_level === 0" value="0">
              RTI
            </option>
            <option [selected]="selectedStudent.student_data[0].academic_level === 2" value="2">
              Ostali odseci
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 mt-3 mb-3">
        <div class="input-group flex-nowrap">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [(ngModel)]="selectedStudent.status" id="flexCheckDefault43">
            <label class="form-check-label" for="flexCheckDefault43">
              Aktivan (Soft delete ako je neaktivan)
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <button class="btn btn-outline-success" (click)="update_student()">
          Prihvati
        </button>
      </div>

    </div>
    <ng-template #other>
      <div class="row g-3">
        <div class="col-md-12 justify-content-center">
          <img class="img-fluid "

               [src]="'http://localhost:4000/download/' + selected_employee.employee_data.profilePicture">
        </div>
        <div class="input-group mt-3 col-md-5">
          <div class="input-group-prepend">
            <span class="input-group-text">Promeni sliku</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="upload_image($event)" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Odaberi</label>
          </div>
        </div>
      </div>


      <div class="row g-3 mt-5">
        <div class="col-12">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Ime i prezime</span>
            <input type="text" aria-label="Ime" class="form-control" [(ngModel)]="selected_employee.name">
            <input type="text" aria-label="Prezime" class="form-control" [(ngModel)]="selected_employee.surname">
          </div>
        </div>
        <br>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" [(ngModel)]="selected_employee.email" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Adresa</span>
            <input type="text" class="form-control" [(ngModel)]="selected_employee.employee_data.address" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kontakt</span>
            <input placeholder="Kontakt Telefon" type="text" class="form-control"
                   name="phoneNumber" [(ngModel)]="selected_employee.employee_data.phonenumber" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Webiste</span>
            <input type="text" class="form-control" name="website" [(ngModel)]="selected_employee.employee_data.website"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <span class="input-group-text">Biografija</span>
            <textarea class="form-control" name="bio" aria-label="With textarea"
                      [(ngModel)]="selected_employee.employee_data.biography"></textarea>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <label class="input-group-text col-2" for="inputGroupSelect01">Options</label>
            <select (change)="change_title($event)" name="dropdownList" class="form-select col-10" id="inputGroupSelect01">
              <option *ngFor="let title of titles"
                      [selected]="check_title(title.id, selected_employee.title.id)"
                      [value]="title.id">{{title.name}}</option>
            </select>
          </div>

        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kabinet</span>
            <input placeholder="Kabinet" type="text" class="form-control" [(ngModel)]="selected_employee.employee_data.office"
                   aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [(ngModel)]="selected_employee.status" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Aktivan (Soft delete ako je neaktivan)
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 mb-3 justify-content-center">
          <button type="submit" class="btn btn-primary" (click)="update_employee()">Azuriraj</button>
        </div>

      </div>
    </ng-template>
  </div>
</div>
