<div class="row justify-content-center p-0">
  <div class="card col-md-6 text-white bg-dark m-3" >
    <div class="card-header font-weight-bold">Unapredjenje infrastrukture elektricne mreze</div>
    <div class="card-body">
      <table>
        <tr>
          <td>
            <b class="text-danger">Tip projekta</b>
          </td>
          <td>
            Unapredjenja
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Oblast</b>
          </td>
          <td>
            Elektrotehnika
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Finansijer</b>
          </td>
          <td>
            Ministarstvo energetike
          </td>
        </tr><br>
        <tr>
          <td>
            <b class="text-danger">Pocetak realizacije</b>
          </td>
          <td>
            2020-12-02
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Rukovodilac</b>
          </td>
          <td>
            prof. dr Dragan Olcan
          </td>
        </tr>
        <tr>
          <td>
            <b class="text-danger">Opis</b>
          </td>
          <td>

            <p>Aliquam imperdiet velit eu egestas congue. Sed convallis scelerisque magna, et luctus leo fringilla in. Aenean nec dolor ac magna facilisis tempor. Sed urna erat, fringilla dignissim sem nec, semper interdum lacus. Etiam sit amet sapien vel massa volutpat suscipit. Proin ut massa consectetur, vestibulum erat in, tristique ante. Curabitur ac quam massa. Sed volutpat vulputate pulvinar. Nullam sagittis hendrerit libero et porta. Vestibulum ac eleifend turpis. Sed luctus molestie varius. In egestas lacinia odio, at luctus orci vehicula eget. Vestibulum varius, felis vel vestibulum ullamcorper, ligula ipsum congue lectus, ornare ultrices orci tellus sit amet velit. Praesent ultrices ligula eget nisl aliquam fermentum.
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row justify-content-center p-0">
  <div class="card col-md-6 text-white bg-dark m-3" >
    <div class="card-header font-weight-bold">Unapredjenje predmeta srpski jezik i knjizevnost ucenjem programskih prevodilaca</div>
    <div class="card-body">
      <table>
        <tr>
          <td>
            <b class="text-danger">Tip projekta</b>
          </td>
          <td>
            Unapredjenja obrazovanja
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Oblast</b>
          </td>
          <td>
            Softversko inzenjerstvo
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Finansijer</b>
          </td>
          <td>
            Ministarstvo prosvcete
          </td>
        </tr><br>
        <tr>
          <td>
            <b class="text-danger">Pocetak realizacije</b>
          </td>
          <td>
            2020-02-02
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Rukovodilac</b>
          </td>
          <td>
            prof. dr Dragan Bojic
          </td>
        </tr>
        <tr>
          <td>
            <b class="text-danger">Opis</b>
          </td>
          <td>

            <p>Aliquam imperdiet velit eu egestas congue. Sed convallis scelerisque magna, et luctus leo fringilla in. Aenean nec dolor ac magna facilisis tempor. Sed urna erat, fringilla dignissim sem nec, semper interdum lacus. Etiam sit amet sapien vel massa volutpat suscipit. Proin ut massa consectetur, vestibulum erat in, tristique ante. Curabitur ac quam massa. Sed volutpat vulputate pulvinar. Nullam sagittis hendrerit libero et porta. Vestibulum ac eleifend turpis. Sed luctus molestie varius. In egestas lacinia odio, at luctus orci vehicula eget. Vestibulum varius, felis vel vestibulum ullamcorper, ligula ipsum congue lectus, ornare ultrices orci tellus sit amet velit. Praesent ultrices ligula eget nisl aliquam fermentum.
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row justify-content-center p-0">
  <div class="card col-md-6 text-white bg-dark m-3" >
    <div class="card-header font-weight-bold">Baza podataka za pasose</div>
    <div class="card-body">
      <table>
        <tr>
          <td>
            <b class="text-danger">Tip projekta</b>
          </td>
          <td>
            Unapredjenje ministarstva pasosa
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Oblast</b>
          </td>
          <td>
            Informacioni sistemi 1
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Finansijer</b>
          </td>
          <td>
            Ministarstvo pasosa
          </td>
        </tr><br>
        <tr>
          <td>
            <b class="text-danger">Pocetak realizacije</b>
          </td>
          <td>
            2018-02-02
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b class="text-danger">Rukovodilac</b>
          </td>
          <td>
            prof. dr Milos Cvetanovic
          </td>
        </tr>
        <tr>
          <td>
            <b class="text-danger">Opis</b>
          </td>
          <td>

            <p>Aliquam imperdiet velit eu egestas congue. Sed convallis scelerisque magna, et luctus leo fringilla in. Aenean nec dolor ac magna facilisis tempor. Sed urna erat, fringilla dignissim sem nec, semper interdum lacus. Etiam sit amet sapien vel massa volutpat suscipit. Proin ut massa consectetur, vestibulum erat in, tristique ante. Curabitur ac quam massa. Sed volutpat vulputate pulvinar. Nullam sagittis hendrerit libero et porta. Vestibulum ac eleifend turpis. Sed luctus molestie varius. In egestas lacinia odio, at luctus orci vehicula eget. Vestibulum varius, felis vel vestibulum ullamcorper, ligula ipsum congue lectus, ornare ultrices orci tellus sit amet velit. Praesent ultrices ligula eget nisl aliquam fermentum.
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
