<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Admin dashboard | </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin/accounts/all">Azuriranje naloga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="set_register(0)" routerLink="/admin/student/register">Registracija
            studenata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="set_register(1)" routerLink="/admin/faculty/register">Registracija
            zaposlenih</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin/courses">Predmeti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin/courses/engagement_plan">Plan
            angazovanja</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row mt-3 justify-content-center">
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">Predmeti</div>
      <div class="card-body">
        <table class="col-12 text-center">
          <tr>
            <td>
              <button class="btn btn-outline-info" (click)="trigger_add_new_course()" >
                Dodaj novi predmet
              </button>
            </td>
            <td>ili</td>
            <td>
              <button class="btn btn-outline-warning" (click)="trigger_update_existing_course()">
                Azuriraj postojeci predmet
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 justify-content-center animate__animated invisible" id="new_course_card" >
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">
        <span class="font-weight-bold" style="font-size: 1.5em">Dodavanje novog predmeta</span>
        <button class="btn btn-outline-danger float-right" (click)="cancel_new_course()">Odustani</button>
      </div>
      <div class="card-body p-0">
        <table class="col-12 p-4">
          <tr>
            <td>
              Tip predmeta
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Obavezan
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Izborni
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Sifra predmeta
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Na primer: 13S142MIPS">

            </td>
          </tr>
          <tr>
            <td>
              Tip studija
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Osnovne akademske
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  Master studije
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Smer na kome se odrzava
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Softversko inzenjerstvo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Racunarska tehnika i informatika
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Semestar
            </td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Fond casova
            </td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Uslovi za polaganje predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Cilj predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Ishod predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja predavanja
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja vezbi
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Informacije o laboratorijskim vezbama
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Seminarski, domaci, projekti
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Angazovani na predmetu
            </td>
            <td class="text-center justify-content-center">
              <table>
                <tr>
                  <td style="padding: 0px">
                    <button class="btn btn-outline-info" (click)="add_new_employee()">Dodaj zaposlenog</button>
                  </td>
                  <td style="padding: 0px"><input
                    id="faculty_focus"
                    type="text"
                    class="form-control ml-3"
                    [(ngModel)]="newTeacher"
                    [ngbTypeahead]="search_students"
                    (focus)="focus_students$.next($any($event).target.value)"
                    (click)="click_students$.next($any($event).target.value)"
                    #instance_faculty="ngbTypeahead"
                  /></td>
                </tr>
              </table>


              <ol>
                <li
                  *ngFor="let employee of newCourseTeachers">

                  {{employee.name}} {{employee.surname}} &nbsp; &nbsp;
                  <span (click)="removeEmployee(employee)"> <i class="far text-danger fa-trash-alt"></i></span>
                </li>
              </ol>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn btn-outline-success" (click)="add_course()">
                Potvrdi
              </button>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 justify-content-center animate__animated invisible" id="update_course_card" >
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">
        <span class="font-weight-bold" style="font-size: 1.5em">Dodavanje novog predmeta</span>
        <button class="btn btn-outline-danger float-right" (click)="cancel_new_course()">Odustani</button>
      </div>
      <div class="card-body p-0">
        <table class="col-12 p-4">
          <tr>
            <td>
              Tip predmeta
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Obavezan
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Izborni
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Sifra predmeta
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Na primer: 13S142MIPS">

            </td>
          </tr>
          <tr>
            <td>
              Semestar
            </td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Fond casova
            </td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Uslovi za polaganje predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Cilj predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Ishod predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja predavanja
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja vezbi
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Informacije o laboratorijskim vezbama
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Seminarski, domaci, projekti
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Angazovani na predmetu
            </td>
            <td class="text-center justify-content-center">
              <table>
                <tr>
                  <td style="padding: 0px">
                    <button class="btn btn-outline-info" (click)="add_new_employee()">Dodaj zaposlenog</button>
                  </td>
                  <td style="padding: 0px"><input
                    id="faculty_focus"
                    type="text"
                    class="form-control ml-3"
                    [(ngModel)]="newTeacher"
                    [ngbTypeahead]="search_students"
                    (focus)="focus_students$.next($any($event).target.value)"
                    (click)="click_students$.next($any($event).target.value)"
                    #instance_faculty="ngbTypeahead"
                  /></td>
                </tr>
              </table>


              <ol>
                <li
                  *ngFor="let employee of newCourseTeachers">

                  {{employee.name}} {{employee.surname}} &nbsp; &nbsp;
                  <span (click)="removeEmployee(employee)"> <i class="far text-danger fa-trash-alt"></i></span>
                </li>
              </ol>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn btn-outline-success" (click)="add_course()">
                Potvrdi
              </button>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

