

<div class="row mt-3 justify-content-center">
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">Predmeti</div>
      <div class="card-body">
        <table class="col-12 text-center">
          <tr>
            <td>
              <button class="btn btn-outline-info" (click)="trigger_add_new_course()" >
                Dodaj novi predmet
              </button>
            </td>
            <td>ili</td>
            <td>
              <button class="btn btn-outline-warning" (click)="trigger_update_existing_course()">
                Azuriraj postojeci predmet
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addNewCourse" class="row mt-3 justify-content-center" id="new_course_card" >
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">
        <span class="font-weight-bold" style="font-size: 1.5em">Dodavanje novog predmeta</span>
        <button class="btn btn-outline-danger float-right" (click)="cancel_new_course()">Odustani</button>
      </div>
      <div class="card-body p-0">
        <table class="col-12 p-4">
          <tr>
            <td>
              Tip predmeta
            </td>
            <td>
              <div class="form-check">
                <input required class="form-check-input" value="false" [(ngModel)]="newCourseDataObject.type"  type="radio" name="flexRadioDefault" checked id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Obavezan
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="true" [(ngModel)]="newCourseDataObject.type" type="radio" name="flexRadioDefault"  id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Izborni
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Sifra predmeta za SI ili za Master
            </td>
            <td>
              <input [required]="newCourseDataObject.isMaster || newCourseDataObject.isSI" type="text" class="form-control" [(ngModel)]="newCourseDataObject.coursecode_SI" placeholder="Na primer: 13S142MIPS">

            </td>
          </tr>
          <tr >
            <td>
              Sifra predmeta za RTI
            </td>
            <td>
              <input [required]="newCourseDataObject.isRTI" [disabled]="newCourseDataObject.isMaster" type="text" class="form-control" [(ngModel)]="newCourseDataObject.coursecode_RTI" placeholder="Na primer: 13S142MIPS">
            </td>
          </tr>
          <tr>
            <td>
              Tip studija
            </td>
            <td>
              <div class="form-check">
                <input required class="form-check-input" type="radio" name="flexRadioDefault1" value="false" [(ngModel)]="newCourseDataObject.isMaster"  checked id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Osnovne akademske
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="true" [(ngModel)]="newCourseDataObject.isMaster" type="radio" name="flexRadioDefault1"  id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  Master studije
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Smer na kome se odrzava
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" [disabled]="newCourseDataObject.isMaster"  type="checkbox" value="" [(ngModel)]="newCourseDataObject.isSI" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Softversko inzenjerstvo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [disabled]="newCourseDataObject.isMaster" [(ngModel)]="newCourseDataObject.isRTI" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Racunarska tehnika i informatika
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Semestar
            </td>
            <td>
              <input required type="number" [(ngModel)]="newCourseDataObject.semester" class="form-control">
            </td>
          </tr> <tr>
            <td>
              ESPB
            </td>
            <td>
              <input required type="number" [(ngModel)]="newCourseDataObject.ESPB" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Fond casova
            </td>
            <td>
              <input required type="text" [(ngModel)]="newCourseDataObject.classCount" placeholder="P+V+L" class="form-control">
            </td>
          </tr><tr>
            <td>
              Akronim
            </td>
            <td>
              <input required type="text" [(ngModel)]="newCourseDataObject.acronym" placeholder="P+V+L" class="form-control">
            </td>
          </tr><tr>
            <td>
              Pun naziv
            </td>
            <td>
              <input required type="text" [(ngModel)]="newCourseDataObject.name" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Uslovi za polaganje predmeta
            </td>
            <td class="text-dark">
              <ckeditor required [editor]="Editor" [(ngModel)]="newCourseDataObject.conditions"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Cilj predmeta
            </td>
            <td class="text-dark">
              <ckeditor required [editor]="Editor" [(ngModel)]="newCourseDataObject.purpose"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Ishod predmeta
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor" [(ngModel)]="newCourseDataObject.outcome"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja predavanja
            </td>
            <td class="text-dark">
              <ckeditor required [editor]="Editor" [(ngModel)]="newCourseDataObject.lectureDates"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Termini odrzavanja vezbi
            </td>
            <td class="text-dark">
              <ckeditor required [editor]="Editor" [(ngModel)]="newCourseDataObject.auditoryExcercisesDates"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Informacije o laboratorijskim vezbama
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor" [(ngModel)]="newCourseDataObject.labInfo"></ckeditor>
            </td>
          </tr>
          <tr>
            <td>
              Seminarski, domaci, projekti
            </td>
            <td class="text-dark">
              <ckeditor [editor]="Editor" [(ngModel)]="newCourseDataObject.homeworks"></ckeditor>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button class="btn btn-outline-success" (click)="add_course()">
                Potvrdi
              </button>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 justify-content-center animate__animated d-none" id="update_course_card" >
  <div class="col-5">
    <div class="card shadow text-white bg-dark mb-3">
      <div class="card-header">
        <span class="font-weight-bold" style="font-size: 1.5em">Dodavanje novog predmeta</span>
        <button class="btn btn-outline-danger float-right" (click)="cancel_new_course()">Odustani</button>
      </div>
      <div class="card-body p-0">

      </div>
    </div>
  </div>
</div>

