<div class="row justify-content-center mt-3" >
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">Profil</div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-12 justify-content-center">
          <img class="img-fluid "

               [src]="'http://localhost:4000/download/'+active_employe.employee_data.profilePicture">
        </div>
        <div class="input-group mt-3 col-md-5">
          <div class="input-group-prepend">
            <span class="input-group-text">Promeni sliku</span>
          </div>
          <div class="custom-file">
            <input accept="image/x-png,image/gif,image/jpeg" type="file" class="custom-file-input" (change)="upload_image($event)" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Odaberi</label>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-5">
        <div class="col-12">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Ime | prezime</span>
            <input type="text" aria-label="Ime" class="form-control" [(ngModel)]="active_employe.name">
            <input type="text" aria-label="Prezime" class="form-control" [(ngModel)]="active_employe.surname">
          </div>
        </div>
        <br>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Adresa</span>
            <input type="text" class="form-control" [(ngModel)]="active_employe.employee_data.address" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Lozinka</span>
            <input type="password" aria-label="Password" class="form-control" [(ngModel)]="active_employe.password">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kontakt</span>
            <input placeholder="Kontakt Telefon" type="text" class="form-control"
                   name="phoneNumber" [(ngModel)]="active_employe.employee_data.phonenumber" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Webiste</span>
            <input type="text" class="form-control" name="website" [(ngModel)]="active_employe.employee_data.website"
                   aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <span class="input-group-text">Biografija</span>
            <textarea class="form-control" name="bio" aria-label="With textarea"
                      [(ngModel)]="active_employe.employee_data.biography"></textarea>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
            <label class="input-group-text col-2" for="zvanje1">Zvanje: </label>
            <label name="dropdownList" class="form-control col-10" id="zvanje1">
              {{active_employe.title.name}}
            </label>
          </div>

        </div>
        <div class="col-12 mt-3">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Kabinet</span>
            <input placeholder="Kabinet" type="text" class="form-control" [(ngModel)]="active_employe.employee_data.office"
                   aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="col-12 mt-3">
          <button class="mt-3 btn-outline-success btn" (click)="save_profile()">
            Sacuvaj
          </button>
        </div>

    </div>
  </div>
</div>

