<div class="row justify-content-center">
  <div class="card col-md-5 mt-4">
    <div class="card-body">
      <h1 class="card-title">Registraciona forma za studenta</h1>
      <br>
      <div class="mb-3">
        <label for="imeUnos" class="form-label">Ime</label>
        <input required type="text" class="form-control" id="imeUnos">
      </div>
      <hr>
      <div class="mb-3">
        <label for="prezimeUnos" class="form-label">Prezime</label>
        <input required type="text" class="form-control" id="prezimeUnos">
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Korisnicko ime</label>
        <input required type="email" class="form-control" id="exampleInputEmail1">
        <div id="emailHelp" class="form-text">Korisnicko ime je u obliku <i>piGGBBBB@student.etf.rs</i>.</div>
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lozinka</label>
        <input required type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Potvrdi loziku</label>
        <input required type="password" class="form-control" id="exampleInputPassword2">
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleIndex" class="form-label">Broj indeksa</label>
        <input type="text" class="form-control" id="exampleIndex">
        <div required id="exampleIndexHelp" class="form-text">Broj indeksa je u format <i>GGGG/BBBB</i>.</div>
      </div>
      <hr>
      <div class="mb-3">
        <label class="form-label">Tip studija</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Osnovne akademske
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Master akademske
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
          <label class="form-check-label" for="flexRadioDefault2">
            Doktorske
          </label>
        </div>
      </div>
      <hr>

      <button type="submit" class="btn btn-primary">Registruj se</button>
    </div>
  </div>
</div>
