

<div class="row justify-content-center mt-2">
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">Odabir predmeta</div>
    <div class="card-body">
      <div class="form-group justify-content-center text-center  form-inline col-12">
        <label for="courseSelect" class="form-text">Odaberite predmet</label>
        <select id="courseSelect" (change)="select_current_course($event)" class="ml-2 form-control">
          <option value="-11">Odaberi...</option>
          <option *ngFor="let course of myCourses" [value]="course.id">{{course.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedCourse != null" class="row justify-content-center mt-2">
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">{{selectedCourse.name}}</div>
    <div class="card-body">
      <div class="col-12 form-inline justify-content-center">
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 1" (click)="activePage = 1">O
          predmetu
        </button>
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 2" (click)="activePage = 2">
          Predavanja
        </button>
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 3" (click)="activePage = 3">
          Vezbe
        </button>
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 4" (click)="activePage = 4">
          Ispitna pitanja
        </button>
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 5" (click)="activePage = 5">
          Laboratorija
        </button>
        <button class="btn btn-link text-warning" [class.border-warning]="activePage === 6" (click)="activePage = 6">
          Projekti
        </button>
      </div>
      <hr>
      <div *ngIf="activePage === 1" class="form-group col-12">
        <div class="mb-3 row">
          <label for="tipPredmetaSelect" class="col-sm-2 col-form-label">Tip predmeta</label>
          <div class="col-sm-10">
            <select id="tipPredmetaSelect" (change)="change_course_type($event)" class="form-control col-12">
              <option value="0" [selected]="selectedCourse.type == 0">
                Obavezan predmet
              </option>
              <option value="1" [selected]="selectedCourse.type == 1">
                Izborni predmet
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="sifraPredmeta" class="col-sm-2 col-form-label">Sifra predmeta</label>
          <div class="col-sm-10">
            <input id="sifraPredmeta" type="text"
                   class="form-control" [(ngModel)]="selectedCourse.coursecode" placeholder="Na primer: 13S142MIPS">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="tipStudija" class="col-sm-2 col-form-label">Tip studija</label>
          <div class="col-sm-10">
            <select id="tipStudija" (change)="change_academic_level($event)" class="form-control">
              <option value="1" [selected]="selectedCourse.isMaster === true">
                Master studije
              </option>
              <option value="0" [selected]="selectedCourse.isMaster === false">
                Osnovne akademske
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="smer" class="col-sm-2 col-form-label">Smer na kome se odrzava</label>
          <div class="col-sm-10">
            <select (change)="change_department($event)" id="smer" class="form-control"
                    [attr.disabled]="selectedCourse.isMaster === true ? '' : null">
              <option value="-1" [selected]="selectedCourse.department === -1 || selectedCourse.department === 3">
                Odaberi
              </option>
              <option value="1" [selected]="selectedCourse.department === 1">
                Softversko inzenjerstvo
              </option>
              <option value="0" [selected]="selectedCourse.department === 0">
                Racunarska tehnika i informatika
              </option>
              <option value="2" [selected]="selectedCourse.department === 2">
                Ostali odseci
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="semestar" class="col-sm-2 col-form-label">Semestar</label>
          <div class="col-sm-10">
            <input id="semestar" required type="number" [(ngModel)]="selectedCourse.semester" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="espb" class="col-sm-2 col-form-label">ESPB</label>
          <div class="col-sm-10">
            <input id="espb" required type="number" [(ngModel)]="selectedCourse.courseDetails[0].ESPB"
                   class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="fond" class="col-sm-2 col-form-label">Fond casova</label>
          <div class="col-sm-10">
            <input id="fond" required type="text" [(ngModel)]="selectedCourse.courseDetails[0].classCount"
                   placeholder="P+V+L"
                   class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="acronim" class="col-sm-2 col-form-label">Akronim</label>
          <div class="col-sm-10">
            <input required id="acronim" type="text" [(ngModel)]="selectedCourse.acronym" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="punNaziv" class="col-sm-2 col-form-label">Pun naziv</label>
          <div class="col-sm-10">
            <input id="punNaziv" required type="text" [(ngModel)]="selectedCourse.name" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="uslovi" class="col-sm-2 text-dark col-form-label">Uslovi za polaganje predmeta</label>
          <div class="col-sm-10">
            <ckeditor id="uslovi" required [editor]="Editor"
                      [(ngModel)]="selectedCourse.courseDetails[0].conditions"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="cilj" class="col-sm-2  col-form-label">Cilj</label>
          <div class="col-sm-10">
            <ckeditor id="cilj" required [editor]="Editor"
                      [(ngModel)]="selectedCourse.courseDetails[0].purpose"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="ishod" class="col-sm-2  col-form-label">Ishod predmeta</label>
          <div class="col-sm-10">
            <ckeditor id="ishod" [editor]="Editor" [(ngModel)]="selectedCourse.courseDetails[0].outcome"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="predavanja" class="col-sm-2  col-form-label">Termini predavanja</label>
          <div class="col-sm-10">
            <ckeditor id="predavanja" required [editor]="Editor"
                      [(ngModel)]="selectedCourse.courseDetails[0].lectureDates"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="vezbe" class="col-sm-2  col-form-label">Termini vezbi</label>
          <div class="col-sm-10">
            <ckeditor id="vezbe" required [editor]="Editor"
                      [(ngModel)]="selectedCourse.courseDetails[0].auditoryExcercisesDates"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="labovi" class="col-sm-2  col-form-label">Informacije o laboratorijskim vezbama</label>
          <div class="col-sm-10">
            <ckeditor id="labovi" [editor]="Editor" [(ngModel)]="selectedCourse.courseDetails[0].labInfo"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="seminarski" class="col-sm-2  col-form-label">Seminarski, domaci, projekti</label>
          <div class="col-sm-10">
            <ckeditor id="seminarski" [editor]="Editor"
                      [(ngModel)]="selectedCourse.courseDetails[0].homeworks"></ckeditor>
          </div>
        </div>
        <div class="mb-3 row">
          <button class="btn btn-outline-success" (click)="update_course()">
            Azuriraj
          </button>
        </div>
      </div>
      <div *ngIf="activePage === 2" class="form-group col-12">
        <div class="input-group mb-3">
          <input type="file" (change)="register_new_lecture_file($event)" multiple class="form-control"
                 id="novoPredavanje">
          <label class="input-group-text" for="novoPredavanje">Novo predavanje...</label>
        </div>
        <button class="btn btn-outline-light" (click)="upload_new_lecture()">Postavi</button>
        <hr>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop1($event)">
          <div class="border-secondary border rounded p-2 mb-3" *ngFor="let predavanje of selectedCourse.lectures"
               cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="form-group row">
              <label [htmlFor]="'filename_' + predavanje.id" class="col-sm-2 col-form-label">Naziv: </label>
              <div class="col-sm-10">
                <p [id]="'filename_' + predavanje.id">{{predavanje.filename}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'documentType_' + predavanje.id" class="col-sm-2 col-form-label">Tip dokumenta: </label>
              <div class="col-sm-10">
                <p [id]="'documentType_' + predavanje.id">{{predavanje.type}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'size_' + predavanje.id" class="col-sm-2 col-form-label">Velicina: </label>
              <div class="col-sm-10">
                <p [id]="'size_' + predavanje.id">{{predavanje.size}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'date_' + predavanje.id" class="col-sm-2 col-form-label">Datum postavljanja: </label>
              <div class="col-sm-10">
                <p [id]="'date_' + predavanje.id">{{predavanje.date | date: 'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'poster_' + predavanje.id" class="col-sm-2 col-form-label">Postavio: </label>
              <div class="col-sm-10">
                <p [id]="'poster_' + predavanje.id">{{predavanje.posted.name}} {{predavanje.posted.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'downld_' + predavanje.id" class="col-sm-2 col-form-label">Skini fajl: </label>
              <div class="col-sm-10">
                <a [id]="'downld_' + predavanje.id"
                   [href]="'http://localhost:4000/download/' + predavanje.download_link">{{predavanje.filename}}</a>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'del_' + predavanje.id" class="col-sm-2 col-form-label">Izbrisi fajl: </label>
              <div class="col-sm-10">
                <button [id]="'del_' + predavanje.id" class="btn btn-danger" (click)="delete_lecture_file(predavanje.filename)">Izbrisi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activePage === 3" class="form-group col-12">
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="noveVezbe" (change)="register_new_excercise_file($event)">
          <label class="input-group-text" for="novoPredavanje">Nove vezbe...</label>
        </div>
        <button class="btn btn-outline-light" (click)="upload_new_exercise()">Postavi</button>
        <hr>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop2($event)">
          <div class="border-secondary border rounded p-2 mb-3" *ngFor="let vezba of selectedCourse.excercises" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="form-group row">
              <label [htmlFor]="'filename_' + vezba.id" class="col-sm-2 col-form-label">Naziv: </label>
              <div class="col-sm-10">
                <p [id]="'filename_' + vezba.id">{{vezba.filename}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'documentType_' + vezba.id" class="col-sm-2 col-form-label">Tip dokumenta: </label>
              <div class="col-sm-10">
                <p [id]="'documentType_' + vezba.id">{{vezba.type}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'size_' + vezba.id" class="col-sm-2 col-form-label">Velicina: </label>
              <div class="col-sm-10">
                <p [id]="'size_' + vezba.id">{{vezba.size}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'date_' + vezba.id" class="col-sm-2 col-form-label">Datum postavljanja: </label>
              <div class="col-sm-10">
                <p [id]="'date_' + vezba.id">{{vezba.date | date: 'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'poster_' + vezba.id" class="col-sm-2 col-form-label">Postavio: </label>
              <div class="col-sm-10">
                <p [id]="'poster_' + vezba.id">{{vezba.posted.name}} {{vezba.posted.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'downld_' + vezba.id" class="col-sm-2 col-form-label">Skini fajl: </label>
              <div class="col-sm-10">
                <a [id]="'downld_' + vezba.id"
                   [href]="'http://localhost:4000/download/'+vezba.download_link">{{vezba.filename}}</a>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'del_' + vezba.id" class="col-sm-2 col-form-label">Izbrisi fajl: </label>
              <div class="col-sm-10">
                <button [id]="'del_' + vezba.id" class="btn btn-danger" (click)="delete_excercise_file(vezba.filename)">Izbrisi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activePage === 4" class="form-group col-12">
        <div class="input-group mb-3">
          <input type="file" class="form-control" (change)="register_new_exam_file($event)" id="noviRok">
          <label class="input-group-text" for="noviRok">Novi rok...</label>
        </div>
        <button class="btn btn-outline-light" (click)="upload_new_exam()">Postavi</button>
        <hr>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop3($event)">
          <div class="border-secondary border rounded p-2 mb-3" *ngFor="let rok of selectedCourse.exams" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="form-group row">
              <label [htmlFor]="'filename_' + rok.id" class="col-sm-2 col-form-label">Naziv: </label>
              <div class="col-sm-10">
                <p [id]="'filename_' + rok.id">{{rok.filename}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'documentType_' + rok.id" class="col-sm-2 col-form-label">Tip dokumenta: </label>
              <div class="col-sm-10">
                <p [id]="'documentType_' + rok.id">{{rok.type}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'size_' + rok.id" class="col-sm-2 col-form-label">Velicina: </label>
              <div class="col-sm-10">
                <p [id]="'size_' + rok.id">{{rok.size}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'date_' + rok.id" class="col-sm-2 col-form-label">Datum postavljanja: </label>
              <div class="col-sm-10">
                <p [id]="'date_' + rok.id">{{rok.date | date: 'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'poster_' + rok.id" class="col-sm-2 col-form-label">Postavio: </label>
              <div class="col-sm-10">
                <p [id]="'poster_' + rok.id">{{rok.posted.name}} {{rok.posted.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'downld_' + rok.id" class="col-sm-2 col-form-label">Skini fajl: </label>
              <div class="col-sm-10">
                <a [id]="'downld_' + rok.id"
                   [href]="'http://localhost:4000/download/'+rok.download_link">{{rok.filename}}</a>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'del_' + rok.id" class="col-sm-2 col-form-label">Izbrisi fajl: </label>
              <div class="col-sm-10">
                <button [id]="'del_' + rok.id" class="btn btn-danger" (click)="delete_exam_file(rok.filename)">Izbrisi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activePage === 5" class="form-group col-12">
        <div class="input-group mb-3">
          <select class="form-control" (change)="lab_view_change($event)">
            <option value="-1">Odaberi..</option>
            <option value="0">Tekstualna obavestenja</option>
            <option value="1">Fajlovi</option>
          </select>
        </div>
        <hr>
        <span *ngIf="currentLabView === 0">
               <div class="input-group mb-3">
                  <label for="labTitle" class="col-sm-2 col-form-label">Naziv: </label>
                  <div class="col-sm-10">
                     <input [(ngModel)]="newLabTextNotif.title" type="text" class="form-control" id="labTitle">
                  </div>
               </div>
               <div class="input-group mb-3">
                  <label for="labDesc" class="col-sm-2 col-form-label">Opis: </label>
                  <div class="col-sm-10">
                     <textarea [(ngModel)]="newLabTextNotif.desc" type="text" class="form-control" id="labDesc"></textarea>
                  </div>
               </div>
               <div class="input-group mb-3">
                  <label for="labSub" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                     <button class="btn btn-outline-light" id="labSub" (click)="upload_lab_notif()">Postavi</button>
                  </div>
               </div>
            </span>
        <hr>
        <span *ngIf="currentLabView === 0">
               <div *ngFor="let proj of selectedCourse.labs_texts">
                  <div class="input-group mb-3">
                     <label for="projTitle" class="col-sm-2 col-form-label">Naziv: </label>
                     <div class="col-sm-10">
                        <label type="text" class="col-form-label" id="projTitle">{{proj.title}}</label>
                     </div>
                  </div>
                  <div class="input-group mb-3">
                     <label for="projTitle" class="col-sm-2 col-form-label">Opis: </label>
                     <div class="col-sm-10">
                        <label type="text" class="col-form-label" id="projTitle">{{proj.desc}}</label>
                     </div>
                  </div>
                  <hr>
               </div>
            </span>
        <span *ngIf="currentLabView === 1">
            <div class="input-group mb-3">
          <input type="file" class="form-control" (change)="register_new_lab_file($event)" id="noviRok">
          <label class="input-group-text" for="noviRok">Novi projekat...</label>
        </div>
        <button class="btn btn-outline-light" (click)="upload_new_lab_file()">Postavi</button>
         </span>
        <div *ngIf="currentLabView === 1" cdkDropList class="example-list" (cdkDropListDropped)="drop3($event)">
          <div class="border-secondary border rounded p-2 mb-3" *ngFor="let rok of selectedCourse.labs_docs" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="form-group row">
              <label [htmlFor]="'filename_' + rok.id" class="col-sm-2 col-form-label">Naziv: </label>
              <div class="col-sm-10">
                <p [id]="'filename_' + rok.id">{{rok.filename}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'documentType_' + rok.id" class="col-sm-2 col-form-label">Tip dokumenta: </label>
              <div class="col-sm-10">
                <p [id]="'documentType_' + rok.id">{{rok.type}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'size_' + rok.id" class="col-sm-2 col-form-label">Velicina: </label>
              <div class="col-sm-10">
                <p [id]="'size_' + rok.id">{{rok.size}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'date_' + rok.id" class="col-sm-2 col-form-label">Datum postavljanja: </label>
              <div class="col-sm-10">
                <p [id]="'date_' + rok.id">{{rok.date | date: 'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'poster_' + rok.id" class="col-sm-2 col-form-label">Postavio: </label>
              <div class="col-sm-10">
                <p [id]="'poster_' + rok.id">{{rok.posted.name}} {{rok.posted.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'downld_' + rok.id" class="col-sm-2 col-form-label">Skini fajl: </label>
              <div class="col-sm-10">
                <a [id]="'downld_' + rok.id"
                   [href]="'http://localhost:4000/download/'+rok.download_link">{{rok.filename}}</a>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'del_' + rok.id" class="col-sm-2 col-form-label">Izbrisi fajl: </label>
              <div class="col-sm-10">
                <button [id]="'del_' + rok.id" class="btn btn-danger" (click)="delete_lab_file(rok.filename)">Izbrisi</button>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div *ngIf="activePage === 6" class="form-group col-12">
        <div class="input-group mb-3">
          <select class="form-control" (change)="proj_view_change($event)">
            <option value="-1">Odaberi..</option>
            <option value="0">Tekstualna obavestenja</option>
            <option value="1">Fajlovi</option>
          </select>
        </div>
        <hr>
        <span *ngIf="currentProjView === 0">
            <div class="input-group mb-3">
               <label for="projTitle" class="col-sm-2 col-form-label">Naziv: </label>
               <div class="col-sm-10">
                  <input [(ngModel)]="newProjTextNotif.title" type="text" class="form-control" id="projTitle">
               </div>
            </div>
            <div class="input-group mb-3">
               <label for="projDesc" class="col-sm-2 col-form-label">Opis: </label>
               <div class="col-sm-10">
                  <textarea [(ngModel)]="newProjTextNotif.desc" type="text" class="form-control" id="projDesc"></textarea>
               </div>
            </div>
            <div class="input-group mb-3">
               <label for="projSub" class="col-sm-2 col-form-label"></label>
               <div class="col-sm-10">
                  <button class="btn btn-outline-light" id="projSub" (click)="upload_proj_notif()">Postavi</button>
               </div>
            </div>
         </span>
        <span *ngIf="currentProjView === 1">
            <div class="input-group mb-3">
          <input type="file" class="form-control" (change)="register_new_proj_file($event)" id="noviRok">
          <label class="input-group-text" for="noviRok">Novi projekat...</label>
        </div>
        <button class="btn btn-outline-light" (click)="upload_new_proj_file()">Postavi</button>
         </span>
        <hr>
        <span *ngIf="currentProjView === 0">
            <div *ngFor="let proj of selectedCourse.projects_texts">
               <div class="input-group mb-3">
                  <label for="projTitle" class="col-sm-2 col-form-label">Naziv: </label>
                  <div class="col-sm-10">
                     <label type="text" class="col-form-label" id="projTitle">{{proj.title}}</label>
                  </div>
               </div>
               <div class="input-group mb-3">
                  <label for="projTitle" class="col-sm-2 col-form-label">Opis: </label>
                  <div class="col-sm-10">
                     <label type="text" class="col-form-label" id="projTitle">{{proj.desc}}</label>
                  </div>
               </div>
               <hr>
            </div>
         </span>
        <div *ngIf="currentProjView === 1" cdkDropList class="example-list" (cdkDropListDropped)="drop3($event)">
          <div class="border-secondary border rounded p-2 mb-3" *ngFor="let rok of selectedCourse.projects_docs" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="form-group row">
              <label [htmlFor]="'filename_' + rok.id" class="col-sm-2 col-form-label">Naziv: </label>
              <div class="col-sm-10">
                <p [id]="'filename_' + rok.id">{{rok.filename}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'documentType_' + rok.id" class="col-sm-2 col-form-label">Tip dokumenta: </label>
              <div class="col-sm-10">
                <p [id]="'documentType_' + rok.id">{{rok.type}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'size_' + rok.id" class="col-sm-2 col-form-label">Velicina: </label>
              <div class="col-sm-10">
                <p [id]="'size_' + rok.id">{{rok.size}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'date_' + rok.id" class="col-sm-2 col-form-label">Datum postavljanja: </label>
              <div class="col-sm-10">
                <p [id]="'date_' + rok.id">{{rok.date | date: 'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'poster_' + rok.id" class="col-sm-2 col-form-label">Postavio: </label>
              <div class="col-sm-10">
                <p [id]="'poster_' + rok.id">{{rok.posted.name}} {{rok.posted.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'downld_' + rok.id" class="col-sm-2 col-form-label">Skini fajl: </label>
              <div class="col-sm-10">
                <a [id]="'downld_' + rok.id"
                   [href]="'http://localhost:4000/download/'+rok.download_link">{{rok.filename}}</a>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label [htmlFor]="'del_' + rok.id" class="col-sm-2 col-form-label">Izbrisi fajl: </label>
              <div class="col-sm-10">
                <button [id]="'del_' + rok.id" class="btn btn-danger" (click)="delete_project_file(rok.filename)">Izbrisi</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

