<div class="row justify-content-center mt-2">
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">Odabir predmeta</div>
    <div class="card-body">
      <div class="form-group justify-content-center text-center  form-inline col-12">
        <label for="courseSelect" class="form-text">Odaberite predmet</label>
        <select id="courseSelect" (change)="course_selection_change($event)" class="ml-2 form-control">
          <option value="-1">Odaberi..</option>
          <option *ngFor="let course of myCourses" [value]="course.id">{{course.coursecode}} -  {{course.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="course != null" class="row justify-content-center mt-2">
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">Dodavanje novog spiska</div>
    <div class="card-body">
      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Naziv spiska</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="newRegistrationList.title" id="naziv">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Datum odrzavanja aktivnosti</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" (ngModelChange)="newRegistrationList.exam_date = $event" [ngModel]="newRegistrationList.exam_date | date: 'yyyy-MM-dd'" id="naziv">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Mesto odrzavanja</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="newRegistrationList.location" id="naziv">
        </div>
      </div>


      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Prijave otvorene od</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" (ngModelChange)="newRegistrationList.date_open = $event" [ngModel]="newRegistrationList.date_open | date: 'yyyy-MM-dd'" id="naziv">
        </div>
      </div>


      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Prijave otvorene do</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" (ngModelChange)="newRegistrationList.date_close = $event" [ngModel]="newRegistrationList.date_close | date: 'yyyy-MM-dd'" id="naziv">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label">Maksimalan broj studenata koji mogu da prisustvuju</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [(ngModel)]="newRegistrationList.max_num_students" id="naziv">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <div class="form-check form-switch">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="newRegistrationList.upload_enabled" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Ocekuje se upload fajlova
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="naziv" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <div class="btn btn-outline-success" (click)="open_list()">Postavi</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="course != null && courseLists.length > 0" class="row justify-content-center mt-2">
  <div class="card p-0 text-white bg-dark col-md-5 mb-3">
    <div class="card-header">Aktivni spisi</div>
    <div class="card-body">
      <div class="row mb-3 border-bottom" *ngFor="let course of courseLists">
        <h3 class="col-12">{{course.title}} <button class="btn  ml-3  btn-link" (click)="delete_reg_list(course.id)"><i class="fas fa-trash-alt text-danger"></i></button> <button class="btn  ml-3 btn-link"  data-toggle="modal" data-target="#exampleModal" (click)="set_editable_course(course.id)"><i class="fas fa-pen-alt text-warning"></i></button></h3>

          <div class="col-md-3 p-1 pl-3">
            Broj prijavljenih: {{course.enrolled_number}}
          </div>
          <div class="col-md-3 p-1">
            Aktivno od: {{course.date_open | date: 'yyyy-MM-dd'}}
          </div>
          <div class="col-md-3 p-1">
            Aktivno do: {{course.date_close | date: 'yyyy-MM-dd'}}
          </div>
          <div class="col-md-3 p-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" [checked]="course.isActive" disabled [id]="course.id + '_defaultCheck12'">
              <label class="form-check-label" [htmlFor]="course.id + '_defaultCheck12'">
                Aktivno
              </label>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label">Naziv spiska</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="editable_course.title" id="naziv">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label">Datum odrzavanja aktivnosti</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" (ngModelChange)="editable_course.exam_date = $event" [ngModel]="editable_course.exam_date | date: 'yyyy-MM-dd'" id="naziv">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label">Mesto odrzavanja</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="editable_course.location" id="naziv">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label">Prijave otvorene od</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" (ngModelChange)="editable_course.date_open = $event" [ngModel]="editable_course.date_open | date: 'yyyy-MM-dd'" id="naziv">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label">Prijave otvorene do</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" (ngModelChange)="editable_course.date_close = $event" [ngModel]="editable_course.date_close | date: 'yyyy-MM-dd'" id="naziv">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <div class="form-check form-switch">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="editable_course.uploadEnabled"  value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Ocekuje se upload fajlova
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="naziv" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <div class="form-check form-switch">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="editable_course.isActive" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Spisak je aktivan
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary" (click)="save_changes_to_list()">Sacuvaj izmene</button>
      </div>
    </div>
  </div>
</div>
